*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
/* }
header img {
    width: 500px;
    max-width: 100%;
    height: auto;
    text-align: center; 
} */

.header-img-container {
    position: relative;
    display: inline-block;
}

.img-principal {
    position: relative;
    width: 180px; /* menor */
    z-index: 2;
}

.img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 1;
}

body {
    background-color: #141424;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
article {
    margin-bottom: 32px; /* aumenta o espaço entre os artigos */
}

article p {
    margin-bottom: 16px; /* aumenta o espaço entre os parágrafos */
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #f7f4f4;
}

hr {
    margin: 10px 0; /* 10px acima e abaixo da linha */
}
}